@import '../../scss/Variables';

.button {
  color: white;
  padding: 5px;
  transition: all .2s ease-in-out;
}

.button:hover {
  -webkit-transform:scale(1.2); /* or some other value */
  transform:scale(1.2);
  cursor: pointer;
}
