@import './Variables';

.page_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: $font-family;
}

*, *:before, *:after {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
}
